server:
  port: 8080

spring:
  cloud:
    gateway:
      default-filters:
        - RemoveRequestHeader=Cookie
        - StripPrefix=1
      routes:
        - id: product-service
          uri: http://localhost:8081
          predicates:
            - Path=/products/**
          filters:
            - StripPrefix=0

        - id: auth-service
          uri: http://localhost:8088
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=0

        - id: order-service
          uri: http://localhost:8083
          predicates:
            - Path=/orders/**
          filters:
            - StripPrefix=0

        - id: user-service
          uri: http://localhost:8087
          predicates:
            - Path=/users/**
          filters:
            - StripPrefix=0

        - id: inventory-service
          uri: http://localhost:8082
          predicates:
            - Path=/inventory/**
          filters:
            - StripPrefix=0


management:
  endpoints:
    web:
      exposure:
        include: health,info


logging:
  level:
    root: DEBUG
    org.springframework.cloud.gateway: DEBUG
    reactor: INFO
